@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");

:root {
  --main-box-bg: #ffffff;
  --slogan-font-size: 22px;
  --slogan-font-weight: 600;
  --desc-font-size: 26px;
  --desc-font-weight: 500;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #FBFBFD;
  z-index: 10;
}

.page-main-align-items {
  display: flex;
  flex-direction: column;
}

.main-iphone13pro {
  background-color: var(--main-box-bg);
  background-image: url(../images/iphone_13_pro.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 38em;
  width: auto;
  height: 40em;
  padding-top: 5em;
}

.main-iphone13pro img {
  width: 300px;
  margin: auto;
  padding-bottom: 5px;
}

.main-page-slogan {
  font-size: var(--slogan-font-size);
  font-weight: var(--slogan-font-weight);
}

.main-page-desc {
  max-width: 60%;
  margin: auto;
  font-size: var(--desc-font-size);
  font-weight: var(--desc-font-weight);
  padding-bottom: 20px;
  padding-top: 1em;
}

.main-blue-button {
  margin: auto;
  background-color: #0071e3;
  width: 170px;
  height: 30px;
  border-radius: 50px;
  align-items: center;
}

.main-blue-button span {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

/* iPhone SE */

.main-iphonese {
  background-color: rgba(250, 250, 250, 255);
  background-image: url(../images/iphone_se.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 45em;
  width: auto;
  height: 30em;
  padding-top: 5em;
}

.main-iphonese img {
  width: 230px;
  margin: auto;
}

/* MacBook Pro */

.main-macbookpro {
  background-color: #fff;
  background-image: url(../images/macbook_pro.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 60em;
  width: auto;
  height: 45em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.main-macbookpro img {
  width: 280px;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5px;
}

/* iPad */

.main-ipad {
  background-color: #000;
  background-image: url(../images/ipad-main-page.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 50em;
  width: auto;
  height: 35em;
  padding-top: 5em;
}

.main-blue-button-ipad {
  margin: auto;
  background-color: #0071e3;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  align-items: center;
}

.main-blue-button-ipad span {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
}

.main-ipad img {
  width: 200px;
  margin: auto;
}

.main-page-slogan-ipad {
  color: #fff;
  font-size: var(--slogan-font-size);
  font-weight: var(--slogan-font-weight);
}

.main-page-desc-ipad {
  color: #fff;
  max-width: 60%;
  margin: auto;
  font-size: var(--desc-font-size);
  font-weight: var(--desc-font-weight); 
  padding-bottom: 20px;
  padding-top: 10px;
}
