@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");

.footer-content {
  padding-top: 5em;
  padding-bottom: 3em;
  margin: auto auto;
  width: 1000px;
}

.footer-info-texts span{
  padding-bottom: 20px;
  font-size: 12px;
  color: #606060d4;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-border {
  border-radius: 20px;
  border: 0.5px solid #60606043;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-links {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.footer-item-group {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-group-header {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}

.footer-group-link {
  font-size: 12px;
  font-weight: 400;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  color: #606060;
}

.footer-call-info {
  width: 1000px;
  display: inline-block;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.footer-call-info span {
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}

.footer-copyright-country {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright-country span {
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}

.footer-copyright-country span:nth-child(1) {
  float: left;
}

.footer-copyright-country span:nth-child(2) {
  float: right;
}