@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

Link {
  text-decoration: none;
  display: none;
}

.navbar {
  z-index: 10;
  position: fixed;
  width: 100%;
  cursor: default;
  background-color: rgb(27, 27, 27);
  height: 44px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-content {
  margin: auto;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.navbar-item {
  opacity: 80%;
  height: 44px;
  color: rgb(190, 190, 190);
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.3s;
}

.navbar-item:hover {
  opacity: 100%;
  transition: 0.3s;
}

.search {
  cursor: pointer;
  height: 44px;
  width: 15px;
  background-image: url(../images/apple_nav/search.svg);
  background-size: 50% 88px;
  background-position: 8px 0px;
  background-repeat: no-repeat;
}

.bag {
  cursor: pointer;
  height: 44px;
  width: 13px;
  background-image: url(../images/apple_nav/bag.svg);
  background-size: 13px 44px;
  background-repeat: no-repeat;
}

/* RESPONSIVE */

.navbar-responsive {
  display: none;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 1000px) {
  .store, .mac, .ipad, .iphone, .watch, .airpods, .tvhome, .onlyonapple, .accessories, .support, .search {
    display: none;
  }

  .navbar {
    position: fixed;
    justify-content: unset;
    height: 44px;
    border-bottom: 1px solid #444444;
  }

  .apple-logo-nav {
    text-align: fixed;
  }

  .bag {
    position: absolute;
    width: auto;
    height: 44px;
    right: 0;
  }

  /* RESPONSIVE NAVBAR */

  .navbar-responsive-divider {
    color: #444444;
    border-radius: 20px;
    border: 0.5px solid;
    width: 100%;
    margin: auto;
  }

  .navbar-responsive {
    position: fixed;
    display: none;
    padding-top: 70px;
    width: 100%;
    min-height: 100%;
    background-color: rgb(27, 27, 27);
    z-index: 5;
  }

  .enable-navbar {
    display: block;
  }

  .navbar-item-responsive {
    text-align: left;
    opacity: 80%;
    height: 44px;
    width: 100%;
    color: rgb(190, 190, 190);
    display: inline-block;
    transition: 0.3s;
  }

  .navbar-item-responsive:hover {
    opacity: 100%;
    transition: 0.3s;
  }

  .navbar-responsive-list {
    margin: auto;
    list-style: none;
    width: 90%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .menu-btn {
    position: absolute;
    left: 0;
    width: 44px;
    height: 20px;
    line-height: 44px;
    display: inline;
    cursor: pointer;
  }

  .disable-menu-btn {
    display: none;
  }

  .menu-close {
    display: none;
    font-size: 14px;
    position: absolute;
    left: 0;
    width: 44px;
    height: 20px;
    line-height: 44px;
    cursor: pointer;
  }

  .enable-menu-close {
    display: block;
  }

  .navbar-responsive-search-box {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    background-color: #444444;
    height: 40px;
    border-radius: 10px;
  }

  .navbar-responsive-search-box img {
    height: 40px;
    padding-left: 15px;
  }

  .navbar-responsive-search-box input {
    background-color: transparent;
    width: 85%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: auto 0 auto 0;
    padding-left: 15px;
  }

  .navbar-responsive-search-box input:focus {
    outline: none;
  }
}